extends layout/base
block body
  .container.index
    .row
      .col-sm-4.col-sm-push-8.fixed.sidebar
        h1 nerdha.us
        h2 welcome. i put things here. read, comment, discuss.

      .col-sm-8.col-sm-pull-4-posts
        -each post in posts
          .row.post
            .col-sm-12
              a(href="posts/#{post.slug}")
                h1.title= post.title
              p.date= pretty_date(post.publishDate)

              p.teaser!= md(post.teaser)
              hr

              if post.tags
                ul.tags
                  -each tag in post.tags
                    li
                      a(href="/tags/#{tag}")= tag

              hr


